azure-ai-documentintelligence==1.0.0b3
beautifulsoup4==4.12.3
bleach==6.1.0
faiss-cpu==1.8.0
fastapi==0.88.0
grandalf==0.8
grapheme==0.6.0
langchain-community
langchain-core==0.2.0
langchain-experimental
langchain-openai==0.1.7
langgraph==0.0.51
langsmith==0.1.48
openai==1.30.1
opencv-python==4.9.0.80
plotly==5.22.0
portalocker==2.8.2
preshed==3.0.9
scipdf @ git+https://github.com/titipata/scipdf_parser@241183d4c6fba880de62da9be037991e1f8576fa
scipy==1.13.0
Send2Trash==1.8.3
streamlit==1.33.0
